# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
local_build/
*.spec

# Virtual Environment
.venv/
venv/
ENV/

# Local configs and recordings
test.wav
temp_recording.wav
recording.wav
*.wav
